/* -------------------------------------
		HEADER
------------------------------------- */

table.head-wrap {
    width: 100%;
    background-color: #999999;
}

.header.container table td.logo {
    padding: 15px;
}

.header.container table td.label {
    padding: 15px;
    padding-left: 0px;
    background-color: blue;
}
